.jumbotron {
    background-image: url("./components/images/gradient.jpg") !important;
    background-size: cover;
    }
.login, .form-label {
    color: white;
}

.date-input{
    display: block;
}

.form-entry{
    margin-left: 15px !important
}

.custom-row{
    width: 90% !important;
}