.jumbotron {
    background-image: url("../../client/img/gradient.jpg") !important;
    background-size: cover;
    }
.login, .form-label {
    color: white;
}

.date-input{
    display: block;
}

.form-entry{
    margin-left: 15px !important
}